<div class="user-details">
    <h2>User Details</h2>
  <ul>
    <li><span>Name </span> <span>{{selectedUser.name}}</span></li>
    <li><span>Email</span> <span> {{selectedUser.email}}</span></li>
    <li><span>Phone</span> <span>{{selectedUser.phone}}</span></li>
    <li><span>Company Name</span> <span> {{selectedUser.company.name}}</span></li>
    <li><span>Address</span><span>{{getAddress(selectedUser.address)}}</span></li>
    <li><span>Website</span><span> {{selectedUser.website}}</span></li>
  </ul>
</div>
