<div class="user-info">
  <h2>Users</h2>
  <p-dataTable [value]="users" [sortField]="sortField" [sortOrder]="sortOrder" 
        selectionMode="single" (onRowSelect)="onRowSelect($event)" #dt>
    <p-column [sortable]="true" field="id" header="Id"></p-column>
    <p-column [sortable]="true" field="name" header="Name"></p-column>
    <p-column [sortable]="true" field="email" header="Email"></p-column>
    <p-column [sortable]="true" field="address.city" header="City"></p-column>
    <p-column [sortable]="true" field="phone" header="Phone"></p-column>
  </p-dataTable>
</div>

